body {
  margin: 0;
  --font:"Montserrat", sans-serif;
  font-family: "Playwrite CL", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --font:"Montserrat", sans-serif;
  --blanco:#fff;
  --negro:#222;
  --gris:#e2e2e2;
}

